@import "tailwindcss";

@font-face {
    font-family: "Geist";
    src: url(/fonts/Geist-Black.woff2) format("woff2"),
        url(/fonts/Geist-Black.otf) format("opentype");
    font-weight: 900; /* Black */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url(/fonts/Geist-Bold.woff2) format("woff2"),
        url(/fonts/Geist-Bold.otf) format("opentype");

    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url(/fonts/Geist-Light.woff2) format("woff2"),
        url(/fonts/Geist-Light.otf) format("opentype");

    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url(/fonts/Geist-Medium.woff2) format("woff2"),
        url(/fonts/Geist-Medium.otf) format("opentype");

    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url(/fonts/Geist-Regular.woff2) format("woff2"),
        url(/fonts/Geist-Regular.otf) format("opentype");

    font-weight: 400; /* Normal */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-SemiBold.woff2") format("woff2"),
        url("/fonts/Geist-SemiBold.otf") format("opentype");

    font-weight: 600; /* SemiBold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url(/fonts/Geist-Thin.woff2) format("woff2"),
        url(/fonts/Geist-Thin.otf) format("opentype");

    font-weight: 100; /* Thin */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url(/fonts/Geist-UltraLight.woff2) format("woff2"),
        url(/fonts/Geist-UltraLight.otf) format("opentype");

    font-weight: 200; /* UltraLight */
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: "Geist", sans-serif;
    font-weight: 600; /* Medium */
    font-size: 2rem; /* 32px / 16px = 2rem */
}

h2 {
    font-family: "Geist", sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 1.5rem; /* 28px / 16px = 1.75rem */
    line-height: 1.2;
}

h3 {
    font-family: "Geist", sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 1.25rem; /* 20px / 16px = 1.25rem */
}

h4 {
    font-family: "Geist", sans-serif;
    font-weight: 600; /* SemiBold */
    font-size: 1rem; /* 16px / 16px = 1rem */
}

h5 {
    font-family: "Geist", sans-serif;
    font-weight: 400; /* Regular */
    font-size: 0.875rem; /* 14px / 16px = 0.875rem */
    line-height: 1.2;
}

h6 {
    font-family: "Geist", sans-serif;
    font-weight: 500; /* Medium */
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    line-height: 1.2;
}

p {
    font-family: "Geist", sans-serif;
    font-weight: 400; /* Regular */
    font-size: 1rem;
    line-height: 1.4;
    position: relative; /* Necesario para el ajuste */
}

/* Para los encabezados h1 a h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.02rem;
}

button{
    cursor: pointer;
}